# Credenciales de Telegram (https://my.telegram.org)
API_ID=12345678
API_HASH=tu_api_hash_aqui
BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRstuVWXyz

# Configuración de Google Drive
FOLDER_ID=id_de_la_carpeta_raiz_de_drive
TOKEN_FILE=auth/google_token.json
SESSION_FILE=auth/bot_session

# Servidor, Logs y Permisos
OWNERS=123456789,987654321
SERVER_DIR=downloads
LOG_DIR=logs
